@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    src: url(jura.woff2) format('woff2');
}

* {
    color: white;
    font-family: Jura;
    text-align: center;
}

.carousel-container:nth-child(5n+1) {
    background-color: #1d2120;
}
.carousel-container:nth-child(5n+2) {
    background-color: #49412c;
}
.carousel-container:nth-child(5n+3) {
    background-color: #5a5c51;
}
.carousel-container:nth-child(5n+4) {
    background-color: #97743a;
}
.carousel-container:nth-child(5n+5) {
    background-color: #ba9077;
}

.carousel-container {
    padding-top: 100px;
}

.title {
    font-size: 50px;
}

.description {
    font-size: 30px;
    margin-top: 30px;
}

.static-description {
    position: absolute;
    bottom: 30px;
    right: 80px;
    text-align: left;
    z-index: 10;
}

ul {
    list-style-type: none;
    font-size: 25px;
}
li {
    margin-bottom: 20px;
}

.pros-description {
    font-size: 20px;
}

code {
    text-align: justify;
    font-size: small;
    font-family: Arial;
}

.js {
    font-size: 15px;
}

@media (max-width: 700px) {
    .carousel-container {
        padding-top: 80px;
    }

    .title {
        font-size: 30px;
    }

    .description {
        font-size: 20px;
        margin-top: 20px;
    }

    .static-description {
        font-size: 15px;
        right: 50px;
    }

    ul {
        font-size: 15px;
    }

    .pros-description {
        font-size: 15px;
    }
    .js {
        font-size: 12px;
        word-break: break-all;
    }
}

@media (max-width: 1000px) {
    .carousel-container {
        padding-top: 80px;
    }

    .title {
        font-size: 35px;
    }

    .description {
        font-size: 25px;
        margin-top: 20px;
    }

    .static-description {
        font-size: 20px;
        right: 50px;
    }

    ul {
        font-size: 18px;
    }

    .pros-description {
        font-size: 18px;
    }
    .js {
        font-size: 15px;
        word-break: break-all;
    }
}

@media (min-width: 1440px) {
    .carousel-container {
        padding-top: 150px;
    }

    .title {
        font-size: 70px;
    }

    .description {
        font-size: 40px;
        margin-top: 50px;
    }

    .static-description {
        font-size: 30px;
    }

    ul {
        font-size: 35px;
    }
    .pros-description {
        font-size: 30px;
    }
    .js {
        font-size: 20px;
    }

}